In [1]:
import psycopg2
import pandas as pd

In [16]:
conn = psycopg2.connect(
    host="localhost",
    database="bronze",
    user="postgres",
    password="postgres")

In [17]:
conn.cursor()

In [18]:
cur = conn.cursor()

In [19]:
cur.execute("select * from regiao")

In [20]:
rows = cur.fetchall()

In [21]:
for row in rows:
    print(row)

(1, 'Norte', 'N')
(2, 'Nordeste', 'NE')
(3, 'Sudeste', 'SE')
(4, 'Sul', 'S')
(5, 'Centro-Oeste', 'CO')

In [24]:
db = pd.DataFrame(rows)

In [25]:
db

   0             1   2
0  1         Norte   N
1  2      Nordeste  NE
2  3       Sudeste  SE
3  4           Sul   S
4  5  Centro-Oeste  CO